/*
Theme Name:   Look Child for Sea of Seven
Theme URI: http://magicaltheme.com/look/
Description:  Look Child Theme customized for Sea of Seven
Author:       Magical Theme
Author URI: https://magicaltheme.com
Template:     look
Version:      1.1.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags: two-columns, left-sidebar, fixed-layout, responsive-layout, featured-images, microformats, sticky-post, translation-ready
Text Domain:  look
*/
@import url("../look/style.css");

/* Header */

#header .header-top {
  padding-top:0;
  padding-bottom: 0;
  
}

.header-top ul {
    margin-top: 0;
}

.header-top ul.search li {
    display: inline-block;
    margin-right: 2px;
    text-transform: uppercase;
}

.header-top ul.search li a {
    font-size: 13px;
    width: 25px;
    height: 25px;
    /*display: block;*/
    text-align: center;
    line-height: 26px;
}

.top-menu li.cart > a {
    background: none !important;
    text-indent: 0;
    text-align: right;
    width: auto;
    color: #000;
    text-transform: uppercase;
}

.top-menu li:last-child.cart::before {
    content:"|";
}

#header .container-fluid {
    padding: 0 15px !important;
}

.logo{
  margin: 10px 0;
}

.woocommerce-breadcrumb{
  border: none !important;
}

#header .header-content {
    padding-top: 0;
    padding-bottom: 0;
}

.header-content ul {
    margin-top: 26px;
    margin-bottom: 0;
}

.header-content ul.search li, .header-content ul.care li {
    display: inline-block;
    text-transform: uppercase;
}

.header-content ul.search li a {
    width: 25px;
    height: 25px;
    /* display: block; */
    text-align: center;
}

.header-content ul.care li {
 float: right;
 
}


.header-top ul.america li {
  margin: 5px auto 0 auto;
  display: block;
  text-transform: uppercase;
  text-align: center;
 
}
ul.america img{
    position: relative;
    bottom: 1px;
}


/* Home Page */



/* Home Slider*/

.flex-control-nav {
    bottom: 10px !important;
    z-index: 100;
}


.flex-control-paging li a {
    background: transparent !important;
    border: 1px solid #dfdfdf;
    box-shadow: none !important;
}

.flex-control-paging li a:hover {
  background: #dfdfdf !important;

}

.flex-control-paging li a.flex-active {
    background: #dfdfdf !important;
}


#featured-items .row .row {
    margin-bottom: 30px;
}

 #featured-items a {
    position: relative;
    overflow: hidden;
    display: block;
}


#featured-items a:hover span {
    bottom: 0;
}

#featured-items a span {
    position: absolute;
    bottom: -100px;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    padding: 20px 0;
    color: #000;
    background: #fff;
    background: rgba(255,255,255,0.7);
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.blog-content{
  background: #eee;
  padding: 25px 0px;
}

.home .article-description{
  margin-top: 0px;
}


.home-content{
  padding-top: 25px;
}

h3.box-title{
  border:2px solid #000;
  text-align: center;
  text-transform: uppercase;
  margin:25px auto 15px auto;  
  line-height: 1.3em;
  width: 20%;
}

/* Shop Category Pages */

.sub-categories {
    margin-top: 0px;
}


ul#menu-shop-sidebar{
      list-style-type: none;
      text-transform: uppercase;
}

#menu-shop-sidebar ul.sub-menu{
      list-style-type: none;
      text-transform: capitalize;
      padding-bottom: 10px;
}

.single .shop-sidebar {
display: none;}


@media only screen and (max-width: 960px) {
   .logo, .header-top ul.search, .shop-sidebar{
        display: none;
    }
    
    #featured-items .row .row {
    margin-bottom: 15px;
    }
} 

/* Shop Category Pages */


#footer h2 {
   margin: 5px 0;
}


#footer ul.socials li {
    display: inline-block;
    margin-right: 2px;
}

#footer ul, #footer .textwidget{
  margin-bottom: 20px;
}



#footer ul.socials li a {
    font-size: 14px;
    width: 25px;
    height: 25px;
    display: block;
    text-align: center;
    color: #fff;
    line-height: 26px;
}
    